@import "tailwindcss";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #010000 0%, #00001e 50%, #085b63 100%);
  position: relative;
  color: white !important;
}
