.scrollContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-height: 93vh;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
}

.scrollContainer::-webkit-scrollbar {
  width: 8px;
}

.scrollContainer::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.scrollContainer::-webkit-scrollbar-button:start:decrement,
.scrollContainer::-webkit-scrollbar-button:end:increment {
  display: none;
}

.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.scrollContainer::-webkit-scrollbar-button {
  display: none;
}

.scrollContainer {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
